
targetConfigs/readme.txt
msp432p401r.cmd
.settings/org.eclipse.cdt.codan.core.prefs
.ccsproject
.project
.cproject
startup_msp432p401r_ccs.c
.settings/org.eclipse.cdt.debug.core.prefs
targetConfigs/MSP432P401R.ccxml
system_msp432p401r.c
/Debug/
.settings/org.eclipse.core.resources.prefs
.launches/RSLK_Project.launch
.metadata/.log
*.prefs
*.properties
*.xmi
*.xml
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.debug.ui.5.1.1.or.higher
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.lock
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/version.ini
